<h1>Listing orders</h1>

<table>
  <tr>
    <th>Order number</th>
    <th>Total price</th>
    <th>Total num of items</th>
    <th>Max discount</th>
    <th>Delivery date</th>
    <th>Status</th>
    <th>User</th>
    <th>Role</th>
    <th>Date of ordering</th>
    <th>Pref delivery date</th>
    <th>Credit card type</th>
    <th>Credit card number</th>
    <th>Cvv2</th>
    <th>Expiry date</th>
    <th>Start date</th>
    <th>Issue number</th>
    <th>Itemstable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.order_number %></td>
    <td><%= order.total_price %></td>
    <td><%= order.total_num_of_items %></td>
    <td><%= order.max_discount %></td>
    <td><%= order.delivery_date %></td>
    <td><%= order.status %></td>
    <td><%= order.user %></td>
    <td><%= order.role %></td>
    <td><%= order.date_of_ordering %></td>
    <td><%= order.pref_delivery_date %></td>
    <td><%= order.credit_card_type %></td>
    <td><%= order.credit_card_number %></td>
    <td><%= order.cvv2 %></td>
    <td><%= order.expiry_date %></td>
    <td><%= order.start_date %></td>
    <td><%= order.issue_number %></td>
    <td><%= order.itemstable %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
