<h1>Listing itemstables</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price per line</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @itemstables.each do |itemstable| %>
  <tr>
    <td><%= itemstable.item %></td>
    <td><%= itemstable.quantity %></td>
    <td><%= itemstable.price_per_line %></td>
    <td><%= link_to 'Show', itemstable %></td>
    <td><%= link_to 'Edit', edit_itemstable_path(itemstable) %></td>
    <td><%= link_to 'Destroy', itemstable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Itemstable', new_itemstable_path %>
